@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body,
#app,
#__next{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 10px;
  position: relative;
  box-sizing: border-box;
  font-family: $base_font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: $transition;
  color: $text;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

p:not([class]) {
  word-wrap: break-word;
  font-size: 1.5rem;
  line-height: 170%;
  color: $text;
}

ul:not([class]),
ol:not([class])  {
  padding-left: 2rem;
}

main,
.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movies-container {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;

  li {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
    a {
      color: $white;
      font-size: 1.6rem;

      &.active {
        color: aquamarine;
      }
    }
  }
}
