.header {
  background: $header_bg;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 10px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  font-size: 2rem;
  color: $white;
}