.container {
  max-width: 1200px;
  margin: auto;
}

img {
  max-width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movies-container {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;

  li {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
    a {
      &.active {
        color: aquamarine;
      }
    }
  }
}
